
#header{
    display:flex;
    justify-content: center;
    position: relative;
    .center{
        position: absolute;
        display:flex;
        justify-content: space-between;
        width: 100%;
        height: 130px;
        align-items: center;
        .logobox{
            position: relative;
            left: 40px;
        }
        .gnb{
            display: flex;
            > li{
                margin: 0 20px;
                a{
                    color:#fff;
                    font-size: 13pt;
                     position: relative;
                }
                &:hover{
                    > a{
                        color:#e15b7e;
                        &::after{
                            background: url("/img/pink_ov_icon.png") no-repeat;
                            content: "";
                            display: block;
                            position: absolute;
                            width: 12px;
                            height: 12px;
                            z-index: 98;
                            bottom: -35px;
                            left: 50%;
                            transform: translateX(-50%);
                        }
                    }
                }
            }
            li{
                .gnb_depth2_1{
                    position: absolute;
                    top:130px;
                    width: 100%;
                    height: 200px;
                    align-items: center;
                    left: 50%;
                    transform: translateX(-50%);
                    // display: flex;
                    display: none;
                    justify-content: center;
                    border-bottom: 1px solid gray;
                    border-top:1px solid gray;
                    li{
                        width: 130px;
                        display: flex;
                        justify-content: center;
                        margin: 0 20px;
                        a{
                            color:#fff;
                            &:hover{
                                color:#e15b7e;
                            }
                        }
                    }
                }
                .gnb_depth2_2{
                    position: absolute;
                    top:130px;
                    width: 100%;
                    height: 200px;
                    align-items: center;
                    left: 50%;
                    transform: translateX(-50%);
                    // display: flex;
                    display: none;
                    justify-content: center;
                    border-bottom: 1px solid gray;
                    border-top:1px solid gray;
                    li{
                        width: 130px;
                        display: flex;
                        justify-content: center;
                        margin: 0 20px;
                        a{
                            color:#fff;
                            &:hover{
                                color:#e15b7e;
                            }
                        }
                    }
                }
                .gnb_depth2_3{
                    position: absolute;
                    top:130px;
                    width: 100%;
                    height: 200px;
                    align-items: center;
                    left: 50%;
                    transform: translateX(-50%);
                    // display: flex;
                    display: none;
                    justify-content: center;
                    border-bottom: 1px solid gray;
                    border-top:1px solid gray;
                    li{
                        width: 130px;
                        display: flex;
                        justify-content: center;
                        margin: 0 20px;
                        a{
                            color:#fff;
                            &:hover{
                                color:#e15b7e;
                            }
                        }
                    }
                }
                .gnb_depth2_4{
                    position: absolute;
                    top:130px;
                    width: 100%;
                    height: 200px;
                    align-items: center;
                    left: 50%;
                    transform: translateX(-50%);
                    // display: flex;
                    display: none;
                    justify-content: center;
                    border-bottom: 1px solid gray;
                    border-top:1px solid gray;
                    li{
                        width: 150px;
                        display: flex;
                        justify-content: center;
                        margin: 0 20px;
                        a{
                            color:#fff;
                            &:hover{
                                color:#e15b7e;
                            }
                        }
                    }
                }
            }
        }
        .right_menu{
            position: relative;
            right:40px;
            border: 1px solid #fff;
            border-radius: 50px;
            padding:5px;
            p{
                font-size: 11pt;
                color:#fff;
            }
        }
    }
}