#container{
    width: 100%;
    .center{
        display: flex;
        justify-content: center;
        width: 100%;
        flex-wrap: wrap;
        margin-bottom: 100px;
        > div {
            width: 70%;
        }
        .title{
            width: 100%;
            text-align: center;
            font-size: 40px;
            font-weight: 700;
            padding:20px 0;
            margin: 50px 0;
            margin-bottom: 30px;
        }
        .content{
            form{
                display: flex;
                flex-wrap: wrap;
                border-top: 2px solid gray;
            }
            label{
                padding:15px;
                display: flex;
                width: 100%;
                border-bottom: 1px solid rgb(217, 217, 217);
                align-items: center;
                span{
                    width: 9%;
                }
                input{
                    height: 30px;
                    line-height: 30px;
                }
                #title{
                    width: 80%;
                }
                #author{
                    width: 15%;
                }
                #content_upload{
                    margin-left: 30px;
                    width: 90%;
                    height: 400px;
                }
            }
            .btns{
                margin-top: 20px;
                width: 100%;
                display: flex;
                justify-content: center;
                button{
                    display: block;
                    font-size: 13px;
                    color: #fff;
                    text-align: center;
                    line-height: 30px;
                    width: 40px;
                    height: 30px;
                    background-color: rgb(0, 123, 255);
                    margin-right: 5px;
                    border: none;
                }
                a{
                    display: block;
                    font-size: 13px;
                    color: #fff;
                    text-align: center;
                    line-height: 30px;
                    width: 40px;
                    height: 30px;
                    background-color: gray;
                }
            }
        }
    }
}