<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>전체 > 전체 프로그램 </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Nanum+Myeongjo:wght@400;700;800&family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Song+Myung&display=swap" rel="stylesheet">
    

    <link rel="stylesheet" href="/css/m_header.css">
    <link rel="stylesheet" href="/css/allprogram.css">
    <link rel="stylesheet" href="/css/subHeader.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/set.css">
</head>
<body>
    <%- include("subHeader.ejs")%>
    <div id="container">
        <div class="center">
            <ul class="cont1_menus">
                <li class="on"><a href="/allprogram">전체</a></li>
                <li><a href="/allprogram/detail/0">1夜. 야경(夜景)</a></li>
                <li><a href="/allprogram/detail/1">2夜. 야로(夜路)</a></li>
                <li><a href="/allprogram/detail/2">3夜. 야사(夜史)</a></li>
                <li><a href="/allprogram/detail/3">4夜. 야설(夜說)</a></li>
                <li><a href="/allprogram/detail/4">5夜. 야식(夜食)</a></li>
                <li><a href="/allprogram/detail/5">6夜. 야시(夜市)</a></li>
                <li><a href="/allprogram/detail/6">7夜. 야화(夜畵)</a></li>
                <li><a href="/allprogram/detail/7">8夜. 야숙(夜宿)</a></li>
                <li><a href="/allprogram/detail/8">9夜. 야주(夜晝)</a></li>
            </ul>
            <div class="cont1">
                <div class="center">
                    <h1 class="cont1_title">전체</h1>
                    <div class="cont1_sec1">
                        <h4 class="cont1_sub_title">개막공연<span> 백제가무희·부여지역 문화창작소 요요와 함께하는 퍼레이드</span></h4>
                        <div class="cont1_boxs">
                            <div class="cont1_box1_imgbox">
                                <img src="/img/allprogram/img1.jpg">
                                <img src="/img/allprogram/img2.jpg">
                            </div>
                            <div class="cont1_box1_textbox">
                                <h2>백제, 빛으로 부활하다!</h2>
                                <p>2022-09-16</p>
                                <p>18:30 ~ 19:30</p>
                            </div>
                        </div>
                    </div>
                    <div class="cont2_sec2">
                        <h4 class="cont2_sub_title">1夜. 야경(夜景) <span> 사비단길 : 사비로운 단아한 길</span></h4>
                        <div class="cont2_list">
                            <div class="cont2_boxs">
                                <img src="/img/allprogram/img2-1.jpg">
                                <div class="cont2_boxs_texts">
                                    <h2>사비 밤달밤달</h2>
                                    <p>2022-09-16 ~ 2022-09-18</p>
                                    <p>2022-09-23 ~ 2022-09-25</p>
                                    <p>18:00 ~ 23:00</p>
                                </div>
                            </div>
                            <div class="cont2_boxs">
                                <img src="/img/allprogram/img2-2.jpg">
                                <div class="cont2_boxs_texts">
                                    <h2>빛으로 깨어난 정림사지</h2>
                                    <p>2022-09-16 ~ 2022-09-18</p>
                                    <p>2022-09-23 ~ 2022-09-25</p>
                                    <p>18:00 ~ 23:00</p>
                                </div>
                            </div>
                            <div class="cont2_boxs">
                                <img src="/img/allprogram/img2-3.jpg">
                                <div class="cont2_boxs_texts">
                                    <h2>부여희망 등불거리</h2>
                                    <p>2022-09-16 ~ 2022-09-18</p>
                                    <p>2022-09-23 ~ 2022-09-25</p>
                                    <p>18:00 ~ 23:00</p>
                                </div>
                            </div>
                            <div class="cont2_boxs">
                                <img src="/img/allprogram/img2-4.jpg">
                                <div class="cont2_boxs_texts">
                                    <h2>정림이랑 휴식시간</h2>
                                    <p>2022-09-16 ~ 2022-09-18</p>
                                    <p>2022-09-23 ~ 2022-09-25</p>
                                    <p>18:00 ~ 23:00</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cont2_sec2">
                        <h4 class="cont2_sub_title">2夜. 야로(夜路) <span> 사비블루 : 사비만의 소박한 빛</span></h4>
                        <div class="cont2_list">
                            <div class="cont2_boxs">
                                <img src="/img/allprogram/img3-1.jpg">
                                <div class="cont2_boxs_texts">
                                    <h2>백제 예인 퍼포먼스</h2>
                                    <p>2022-09-16 ~ 2022-09-18</p>
                                    <p>2022-09-23 ~ 2022-09-25</p>
                                    <p>19:30 ~ 20:00, 21:00 ~ 21:30</p>
                                </div>
                            </div>
                            <div class="cont2_boxs">
                                <img src="/img/allprogram/img3-2.jpg">
                                <div class="cont2_boxs_texts">
                                    <h2>스트릿 스탬프 투어</h2>
                                    <p>2022-09-16 ~ 2022-09-18</p>
                                    <p>2022-09-23 ~ 2022-09-25</p>
                                    <p>18:00 ~ 22:00</p>
                                </div>
                            </div>
                            <div class="cont2_boxs">
                                <img src="/img/allprogram/img3-3.jpg">
                                <div class="cont2_boxs_texts">
                                    <h2>거리에서 만나는 AR 백제위인전</h2>
                                    <p>2022-09-16 ~ 2022-09-18</p>
                                    <p>2022-09-23 ~ 2022-09-25</p>
                                    <p>18:00 ~ 23:00</p>
                                </div>
                            </div>
                            <div class="cont2_boxs">
                                <img src="/img/allprogram/img3-4.jpg">
                                <div class="cont2_boxs_texts">
                                    <h2>백투더 사비</h2>
                                    <p>2022-09-16 ~ 2022-09-18</p>
                                    <p>2022-09-23 ~ 2022-09-25</p>
                                    <p>18:00 ~ 23:00</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cont2_sec2">
                        <h4 class="cont2_sub_title">3夜. 야사(夜史) <span> 사비만담 : 못다한 사비백제 이야기</span></h4>
                        <div class="cont2_list">
                            <div class="cont2_boxs">
                                <img src="/img/allprogram/img10-1.jpg">
                                <div class="cont2_boxs_texts">
                                    <h2>삼충신이 들려주는 충절이야기</h2>
                                    <p>2022-09-16 ~ 2022-09-18</p>
                                    <p>2022-09-23 ~ 2022-09-25</p>
                                    <p>21:10 ~ 21:40</p>
                                </div>
                            </div>
                            <div class="cont2_boxs">
                                <img src="/img/allprogram/img10-2.jpg">
                                <div class="cont2_boxs_texts">
                                    <h2>만담꾼이 들려주는 사비백제 이야기</h2>
                                    <p>2022-09-16 ~ 2022-09-18</p>
                                    <p>2022-09-23 ~ 2022-09-25</p>
                                    <p>19:50 ~ 20:20, 21:10 ~ 21:40</p>
                                </div>
                            </div>
                            <div class="cont2_boxs">
                                <img src="/img/allprogram/img10-3.jpg">
                                <div class="cont2_boxs_texts">
                                    <h2>만담군이 들려주는 금동대향로 이야기</h2>
                                    <p>2022-09-16 ~ 2022-09-18</p>
                                    <p>2022-09-23 ~ 2022-09-25</p>
                                    <p>20:20 ~ 20:50, 21:40 ~ 22:10</p>
                                </div>
                            </div>
                            <div class="cont2_boxs">
                                <img src="/img/allprogram/img10-4.jpg">
                                <div class="cont2_boxs_texts">
                                    <h2>사비밤소풍 문화재해설 투어</h2>
                                    <p>2022-09-16 ~ 2022-09-18</p>
                                    <p>2022-09-23 ~ 2022-09-25</p>
                                    <p>19:00 ~ 21:00</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cont2_sec2">
                        <h4 class="cont2_sub_title">4夜. 야설(夜說) <span> 사비풍류 : 사비로운 예술공연</span></h4>
                        <div class="cont2_list">
                            <div class="cont2_boxs">
                                <img src="/img/allprogram/img4-1.jpg">
                                <div class="cont2_boxs_texts">
                                    <h2>사비예술단</h2>
                                    <p>2022-09-16 ~ 2022-09-18</p>
                                    <p>20:00 ~ 20:30</p>
                                </div>
                            </div>
                            <div class="cont2_boxs">
                                <img src="/img/allprogram/img4-2.jpg">
                                <div class="cont2_boxs_texts">
                                    <h2>사비의 달빛멜로디</h2>
                                    <p>2022-09-16 , 2022-09-18</p>
                                    <p>19:20 ~ 19:50</p>
                                </div>
                            </div>
                            <div class="cont2_boxs">
                                <img src="/img/allprogram/img4-3.jpg">
                                <div class="cont2_boxs_texts">
                                    <h2>달빛 뮤지엄 콘서트</h2>
                                    <p>2022-09-16 ~ 2022-09-18</p>
                                    <p>19:50 ~ 20:20</p>
                                </div>
                            </div>
                            <div class="cont2_boxs">
                                <img src="/img/allprogram/img4-4.jpg">
                                <div class="cont2_boxs_texts">
                                    <h2>사비로운 사비술사</h2>
                                    <p>2022-09-16 ~ 2022-09-18</p>
                                    <p>2022-09-23 ~ 2022-09-25</p>
                                    <p>20:40 ~ 21:30</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cont3_sec3">
                        <h4 class="cont3_sub_title">5夜. 야식(夜食) <span> 사비달콤 : 사비와 미식거리</span></h4>
                        <div class="cont3_boxs">
                            <div class="cont3_left_box">
                                <img src="/img/allprogram/img5-1.jpg">
                                <div class="cont3_box_text">
                                    <h2>사비장터 먹거리 ZONE</h2>
                                    <p>2022-09-16 ~ 2022-09-18,</p>
                                    <p>2022-09-23 ~ 2022-09-25</p>
                                    <p>18:00 ~ 23:00</p>
                                </div>
                            </div>
                            <div class="cont3_right_box">
                                <img src="/img/allprogram/img5-2.jpg">
                                <div class="cont3_box_text">
                                    <h2>이웃나라 먹거리 ZONE</h2>
                                    <p>2022-09-16 ~ 2022-09-18,</p>
                                    <p>2022-09-23 ~ 2022-09-25</p>
                                    <p>18:00 ~ 23:00</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cont2_sec2">
                        <h4 class="cont2_sub_title">6夜. 야시(夜市) <span> 사비마당 : 시끌벅적 사비장터</span></h4>
                        <div class="cont2_list">
                            <div class="cont2_boxs">
                                <img src="/img/allprogram/img6-1.jpg">
                                <div class="cont2_boxs_texts">
                                    <h2>사비예술장터 (10개부스)</h2>
                                    <p>2022-09-16 ~ 2022-09-18</p>
                                    <P>2022-09-23 ~ 2022-09-25</P>
                                    <p>18:00 ~ 23:00</p>
                                </div>
                            </div>
                            <div class="cont2_boxs">
                                <img src="/img/allprogram/img6-2.jpg">
                                <div class="cont2_boxs_texts">
                                    <h2>사비마켓 (30개부스)</h2>
                                    <p>2022-09-16 , 2022-09-18</p>
                                    <P>2022-09-23 ~ 2022-09-25</P>
                                    <p>18:00 ~ 23:00</p>
                                </div>
                            </div>
                            <div class="cont2_boxs">
                                <img src="/img/allprogram/img6-3.jpg">
                                <div class="cont2_boxs_texts">
                                    <h2>DIY 사비체험존 (10개부스)</h2>
                                    <p>2022-09-16 ~ 2022-09-18</p>
                                    <P>2022-09-23 ~ 2022-09-25</P>
                                    <p>18:00 ~ 23:00</p>
                                </div>
                            </div>
                            <div class="cont2_boxs">
                                <img src="/img/allprogram/img6-4.jpg">
                                <div class="cont2_boxs_texts">
                                    <h2>사비장인과 함께하는 특별체험</h2>
                                    <p>2022-09-17</p>
                                    <p>19:00 ~ 20:00</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cont2_sec2">
                        <h4 class="cont2_sub_title">7夜. 야화(夜畵) <span> 사비미미 : 사비로운 예술작품</span></h4>
                        <div class="cont2_list">
                            <div class="cont2_boxs">
                                <img src="/img/allprogram/img7.jpg">
                                <div class="cont2_boxs_texts">
                                    <h2>전국 석탑 전시전</h2>
                                    <p>2022-09-16 ~ 2022-09-18</p>
                                    <P>2022-09-23 ~ 2022-09-25</P>
                                    <p>18:00 ~ 23:00</p>
                                </div>
                            </div>
                            <div class="cont2_boxs">
                                <img src="/img/allprogram/img7-1.jpg">
                                <div class="cont2_boxs_texts">
                                    <h2>거리의 그림박사</h2>
                                    <p>2022-09-16 , 2022-09-18</p>
                                    <P>2022-09-23 ~ 2022-09-25</P>
                                    <p>18:00 ~ 23:00</p>
                                </div>
                            </div>
                            <div class="cont2_boxs">
                                <img src="/img/allprogram/img7-2.jpg">
                                <div class="cont2_boxs_texts">
                                    <h2>김영학 조각 전시전</h2>
                                    <p>2022-09-16 ~ 2022-09-18</p>
                                    <P>2022-09-23 ~ 2022-09-25</P>
                                    <p>18:00 ~ 23:00</p>
                                </div>
                            </div>
                            <div class="cont2_boxs">
                                <img src="/img/allprogram/img7-3.jpg">
                                <div class="cont2_boxs_texts">
                                    <h2>유홍준 기증유물 전시전</h2>
                                    <p>2022-09-17</p>
                                    <p>19:00 ~ 20:00</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cont1_sec1">
                        <h4 class="cont1_sub_title">8夜. 야숙(夜宿) <span> 사비하루 : 사비에서의 하룻밤</span></h4>
                        <div class="cont1_boxs">
                            <div class="cont1_box1_imgbox">
                                <img src="/img/allprogram/img8.jpg">
                            </div>
                            <div class="cont1_box1_textbox">
                                <h2>오감으로 추억하는 사비여행</h2>
                                <p>2022-09-16 ~ 2022-09-18</p>
                                <p>2022-09-23 ~ 2022-09-25</p>
                                <p>18:30 ~ 19:30</p>
                            </div>
                        </div>
                    </div>
                    <div class="cont3_sec3">
                        <h4 class="cont3_sub_title">5夜. 야식(夜食) <span> 사비달콤 : 사비와 미식거리</span></h4>
                        <div class="cont3_boxs">
                            <div class="cont3_left_box">
                                <img src="/img/allprogram/img9-1.jpg">
                                <div class="cont3_box_text">
                                    <h2>집에서도 즐겨요 사비랜드</h2>
                                    <p>2022-09-16 ~ 2022-09-18,</p>
                                    <p>2022-09-23 ~ 2022-09-25</p>
                                    <p>18:00 ~ 23:00</p>
                                </div>
                            </div>
                            <div class="cont3_right_box">
                                <img src="/img/allprogram/img9-2.jpg">
                                <div class="cont3_box_text">
                                    <h2>나도 고고학자!</h2>
                                    <p>2022-09-16 ~ 2022-09-18,</p>
                                    <p>2022-09-23 ~ 2022-09-25</p>
                                    <p>18:00 ~ 23:00</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include("footer.ejs")%>
    <script src="/js/allprogram.js"></script>
    <script src="/js/header.js"></script>
</body>
</html>