<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>전체 > 전체 프로그램 </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link rel="stylesheet" href="/css/allprogram.css">
</head>
<body>
    <%- include("subHeader.ejs")%>
    <div id="container">
        <div class="center">
            <ul class="cont1_menus">
                <li><a href="#">전체</a></li>
                <li><a href="#">1夜. 야경(夜景)</a></li>
                <li><a href="#">2夜. 야로(夜路)</a></li>
                <li><a href="#">3夜. 야사(夜史)</a></li>
                <li><a href="#">4夜. 야설(夜說)</a></li>
                <li><a href="#">5夜. 야식(夜食)</a></li>
                <li><a href="#">6夜. 야시(夜市)</a></li>
                <li><a href="#">7夜. 야화(夜畵)</a></li>
                <li><a href="#">8夜. 야숙(夜宿)</a></li>
                <li><a href="#">9夜. 야주(夜晝)</a></li>
            </ul>
            <div class="cont1">
                <div class="center">
                    <h1 class="cont1_title">전체</h1>
                    <div class="cont1_sec1">
                        <h4 class="cont1_sub_title">개막공연<span> 백제가무희·부여지역 문화창작소 요요와 함께하는 퍼레이드</span></h4>
                        <div class="cont1_boxs">
                            <div class="cont1_box1_imgbox">
                                <img src="/img/allprogram/img1.jpg">
                                <img src="/img/allprogram/img2.jpg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>