    
    <link rel="stylesheet" href="/css/footer.css">
    <div class="footer">
        <div class="fot_top_logo">
            <a href="#">
                <img src="/img/bottom_logo1.png">
            </a>
            <a href="#">
                <img src="/img/bottom_logo2.png">
            </a>
            <a href="#">
                <img src="/img/bottom_logo3.svg">
            </a>
        </div>
        <div class="fot_center_menu">
            <a href="#">
                <i class="fa-brands fa-instagram"></i>
            </a>
            <a href="#">
                <i class="fa-brands fa-facebook"></i>
            </a>
            <a href="#">
                <i class="fa-brands fa-youtube"></i>
            </a>
        </div>
        <div class="fot_bot_copy">
            <p>[33168] 충남 부여군 부여읍 사비로 33 부여군청 Tel. 041-830-2646 Fax. 041-830-2959</p>
            <p>COPYRIGHT 2022 BUYEO-GUN. All RIGHTS RESERVED.</p>
        </div>
    </div>
