<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>부여문화재야행</title>
    <link rel="stylesheet" href="/css/set.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <%- include("header.ejs")%>
    <div id="container">
        <div class="center">
            <div class="cont1">
                <div class="top_img">
                    <img src="/img/moon.png">
                </div>
                <div class="center_box">
                    <div class="left_text">
                        <img src="/img/mv_text.png">
                    </div>
                    <div class="right_text">
                        <div class="right_top">
                            <h1>정림아! 사비로 와!</h1>
                            <p>사비백제의 역사를 품고 밤을 누비는<br/></p>
                            <p>부여문화재야행</p>
                        </div>
                        <div class="right_bottom">
                            <p>2022.09.16 (금) ~ 2022.09.18(일)</p>
                            <p>2022.09.23 (금) ~ 2022.09.25(일)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="cont2">
        <div class="box"></div>
    </div>
</body>
</html>