    <div id="m_header">
        <div class="center">
            <div class="closeBtn">
                <a href="#">
                    <i class="fa-solid fa-xmark"></i>
                </a>
            </div>
            <div class="logobox">
                <a href="/">
                    <img src="/img/logo.png">
                </a>
            </div>
            <ul class="gnb">
                <li class="on">
                    <a href="#">부여문화재야행</a>
                    <ul class="gnb_depth2">
                        <li><a href="/sub1">행사개요</a></li>
                        <li><a href="/sub2">행사일정</a></li>
                        <li><a href="/sub3">행사지도</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">프로그램</a>
                    <ul class="gnb_depth2">
                        <li><a href="/allprogram">전체 프로그램</a></li>
                        <li><a href="https://www.youtube.com/watch?v=w9WV1pzQPXM">온라인야행</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">연계 문화재(시설)</a>
                    <ul class="gnb_depth2">
                        <li><a href="/sub3_1">문화재</a></li>
                        <li><a href="/sub3_1_2">문화시설</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">커뮤니티</a>
                    <ul class="gnb_depth2">
                        <li><a href="/sub4">공지사항</a></li>
                        <li><a href="/sub4_2">묻고답하기(Q&A)</a></li>
                        <li><a href="/sub4_3">자주하는질문(FAQ)</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
   
