<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>자주하는질문(FAQ)</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Nanum+Myeongjo:wght@400;700;800&family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Song+Myung&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/set.css">
    <link rel="stylesheet" href="/css/subHeader.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/subCont4_3.css">
</head>
<body>
    <%- include("subHeader.ejs")%>
    <div id="container">
        <div class="center">
            <div class="title">자주하는질문(FAQ)</div>
            <div class="center_box">
                <div class="boxs">
                    <a href="#">
                        <h2>주차는 어디에 하나요?</h2>
                    </a>
                    <div class="sub_box">
                        <p>
                            행사시작 전에 도착하시면 부여문화원과, 정림사지주차장 주차 가능 하지만, 18시 이후에는 만차되는 실정입니다. 주변 국립부여박물관(도보 10분) 주차를 추천합니다.
                        </p>
                    </div>
                </div>
                <div class="boxs">
                    <a href="#">
                        <h2>
                            유홍준 교수님 강의 들을 수 있나요?
                        </h2>
                    </a>
                    <div class="sub_box">
                        유홍준 교수님 강의는 9.24(토) 20:00~20:50 정림사지 주무대에서 진행됩니다. 사전예약자 30분은 앞자리로 배정되며, 나머지분도 관람석에서 자유롭게 들으실 수 있습니다. 많은 참여 바랍니다.
                    </div>
                </div>
                <div class="boxs">
                    <a href="#">
                        <h2>
                            부여문화재야행은 언제부터 언제까지 진행하나요?
                        </h2>
                    </a>
                    <div class="sub_box" style="line-height: 30px;">
                        2022 부여문화재야행의 행사일시는 다음과 같습니다.<br>
                        2022. 09. 16 (금) ~ 2022. 09. 18 (일) 18:00~23:00<br>
                        2022. 09. 23 (금) ~ 2022. 09. 25 (일) 18:00~23:00
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include("footer.ejs")%>
    <script src="/js/header.js"></script>
    <script src="/js/subCont4_3.js"></script>
</body>
</html>