<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>디테일 페이지 테스트</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Nanum+Myeongjo:wght@400;700;800&family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Song+Myung&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/set.css">
    <link rel="stylesheet" href="/css/subHeader.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/subCont3_detail.css">
</head>
<body>
    <%- include("subHeader.ejs")%>
    <input id="detail_num" type="hidden" value="<%- Num %>">
    <div id="container">
        <div class="center">
            <div class="title">문화재</div>
            <div class="list_wrap">

            </div>
        </div>
    </div>
    <%- include("footer.ejs")%>

    <script src="/js/header.js"></script>
    <script>
        
        const detailNum = document.querySelector("#detail_num").value;
        const list_wrap = document.querySelector(".list_wrap");
        
        const listData = [
            {
                list : [{
                image:"/img/subCont3/img1.jpg",
                title:"부여 정림사지 오층석탑",
                content1:"충남 부여군 부여읍 정림로 83", //소재지
                content2:"국보 제9호 (지정일1962.12.30)", // 지정번호
                content3:"정림사지박물관 (041-832-2721)", // 문의처
                detailContent:
                    `부여 정림사터에 세워져 있는 석탑으로, 좁고 낮은 1단의 기단(基壇)위에 5층의 탑신(塔身)을 세운 모습이다. 신라와의 연합군으로 백제를 멸망시킨 당나라 장수 소정방이 "백제를 정벌한 기념탑"이라는 뜻의 글귀를 이 탑에 남겨놓아, 한때는 "평제탑"이라고 잘못 불리어지는 수모를 겪기도 하였다.

                    기단은 각 면의 가운데와 모서리에 기둥돌을 끼워 놓았고, 탑신부의 각 층 몸돌에는 모서리마다 기둥을 세워놓았는데, 위아래가 좁고 가운데를 볼록하게 표현하는 목조건물의 배흘림기법을 이용하였다. 얇고 넓은 지붕돌은 처마의 네 귀퉁이에서 부드럽게 들려져 단아한 자태를 보여준다.

                    좁고 얕은 1단의 기단과 배흘림기법의 기둥표현, 얇고 넓은 지붕돌의 형태 등은 목조건물의 형식을 충실히 이행하면서도 단순한 모방이 아닌 세련되고 창의적인 조형을 보여주며, 전체의 형태가 매우 장중하고 아름답다. 익산미륵사지석탑(국보 제11호)과 함께 2기만 남아있는 백제시대의 석탑이라는 점에서도 귀중한 자료로 평가되며, 세련되고 정제된 조형미를 통해 격조 높은 기품을 풍기고 있는 아름다운 작품이다.
                    이 석탑은 익산(益山) 미륵사지(彌勒寺址) 석탑(石塔)과 함께 백제시대(百濟時代)에 세워진 귀중한 탑으로, 우리나라 석탑의 시조(始祖)라고 할 수 있다.

                    목조건물의 가구(架構)를 모방하고 있으나 단순한 모방이 아니라 정돈된 형태에서 세련되고 창의적인 조형을 보여주고 있으며, 전체의 형태가 장중하고 명쾌한 기풍을 풍겨준다. 초층탑신(初層塔身) 4면에는 당(唐)의 소정방(蘇定方)이 백제(百濟)를 멸한 다음 그 기공문(紀功文)을 새겨 넣었으나 이는 탑이 건립된 훨씬 뒤의 일이다.
                    이곳 일대의 발굴조사에서 정림사명(定林寺銘)이 들어 있는 기와가 많이 출토되었다. `,
                contact:"충남종합관광안내소 주차장에서 좌회전, 육교있는 호등에서 우회전해 400m 직진 우측에 있습니다."
            }]
        },
        {
            list : [{
                image:"/img/subCont3/img2.jpg",
                title:"백제 금동대향로",
                content1:"충남 부여군 부여읍 정림로 83", //소재지
                content2:"국보 제 287호(지정일1996.05.30", // 지정번호
                content3:"국립부여박물관 (041-833-8562)", // 문의처
                detailContent:
                    `1993년 12월 12일 국립부여박물관에 의하여 백제 나성(羅城)과 능산리고분군 사이 논바닥 제3건물지 중앙칸 서쪽의 한 구덩이에서 출토된 이 향로는 금동광배편 등 450여점의 유물과 함께 수습되었다. 높이 61.8㎝, 무게 11.8㎏이나 되는 대형 향로로, 크게 몸체와 뚜껑으로 구분되며 위에 부착한 봉황과 받침대를 포함하면 4부분으로 구성된다.

                    뚜껑에는 23개의 산들이 4~5겹으로 첩첩산중을 이루는 풍경을 보여주고 있다. 피리와 소비파, 현금, 북들을 연주하는 5인의 악사와 각종 무인상, 기마수렵상 등 16인의 인물상과 봉황, 용을 비롯한 상상의 날짐승, 호랑이, 사슴 등 39마리의 현실 세계 동물들이 표현되어 있다. 이 밖에 6개의 나무와 12개의 바위, 산 중턱에 있는 산길, 산 사이로 흐르는 시냇물, 폭포, 호수 등이 변화무쌍하게 표현되어 있다.

                    뚜껑 꼭대기에는 별도로 부착된 봉황이 목과 부리로 여의주를 품고 날개를 편 채 힘있게 서 있는데, 길게 약간 치켜 올라간 꼬리의 부드러움은 백제적 특징이라 하겠다. 봉황 앞가슴과 악사상 앞뒤에는 5개의 구멍이 뚫려 있어 몸체에서 향 연기를 자연스럽게 피어오를 수 있게 하였다.

                    몸체는 활짝 피어난 연꽃을 연상시킨다. 연잎의 표면에는 불사조와 물고기, 사슴, 학 등 26마리의 동물이 배치되어 있다. 받침대는 몸체의 연꽃 밑부분을 입으로 문 채 하늘로 치솟 듯 고개를 쳐들어 떠받고 있는 한 마리의 용으로 되어 있다.

                    경이적인 걸작이라 할 수 있는 이 향로는 중국 한대＜漢代＞에 유행한 박산로＜博山爐＞의 영향을 받은 듯 하지만 중국과는 달리 산들이 독립적․입체적이며 매우 사실적으로 표현되었다. 전체적으로 보아 창의성과 조형성이 뛰어나고 세부표현에 생동감이 넘쳐흐르는 이 향로는 제조기법 또한 뛰어나며, 불교와 도교가 혼합된 종교와 사상적인 복합성까지 보이고 있어 백제시대의 공예와 미술문화, 종교와 사상, 제조기술까지도 파악케 해 주는 귀중한 작품이라 하겠다. `,
                contact:"충남종합관광안내소 주차장에서 좌회전, 1㎞ 직진해서 육교 신호등에서 우회전해 보릿고개 언덕을 지나 1㎞ 직진해 삼거리 신호등에서 좌회전하면 좌측에 국립부여박물관에 있습니다."
            }]
        },
        {
            list : [{
                image:"/img/subCont3/img3.jpg",
                title:"부여 정림사지 석불여래좌상",
                content1:"충남 부여군 부여읍 정림로 83", //소재지
                content2:"보물 제108호(지정일1963.01.21)", // 지정번호
                content3:"정림사지박물관 (041-832-2721)", // 문의처
                detailContent:
                    `정림사지에 남아 있는 석조불상으로 정림사지 5층석탑(국보 제9호)와 남북으로 마주보고 있다. 정림사는 6세기 중엽에 처음 창건되어 백제 멸망 때까지 번창하였던 사찰로 고려시대에 다시 번창했던 것으로 추정되는데, 이 석불상은 고려 때의 번성을 보여주는 것이다.

                    지금의 머리와 보관은 제작 당시의 것이 아니라, 후대에 다시 만들어 얹은 것으로 보인다. 신체는 극심한 파괴와 마멸로 형체만 겨우 남아 있어 세부적인 양식과 수법을 알아보기 어렵지만, 어깨가 밋밋하게 내려와 왜소한 몸집을 보여준다. 좁아진 어깨와 가슴으로 올라간 왼손의 표현으로 보아 왼손 검지 손가락을 오른손으로 감싸쥔 비로자나불을 형상화한 것으로 추정된다.

                    불상이 앉아 있는 대좌(臺座)는 상대,중대,하대로 이루어진 8각으로 불상보다 공들여 만든 흔적이 역력하다. 상대는 연꽃이 활짝 핀 모양이며, 중대의 8각 받침돌은 각 면에 큼직한 눈모양을 새겼다. 하대에는 연꽃이 엎어진 모양과 안상을 3중으로 중첩되게 표현했다.

                    현재 불상이 자리잡고 있는 위치가 백제시대 정림사지의 강당 자리로 이곳에서 발견된 명문기와를 통해 이 작품은 고려시대에 절을 고쳐 지을때 세운 본존불로 추정된다. `,
                contact:"충남종합관광안내소 주차장에서 우회전, 신호등에서 좌회전해 300m 직진해 좌회전하면 좌측에 있습니다."
            }]
        },
        {
            list : [{
                image:"/img/subCont3/img4.jpg",
                title:"부여 관북리 유적",
                content1:"충남 부여군 부여읍 관북리 33 외", //소재지
                content2:"사적 제428호(지정일2001.02.01)", // 지정번호
                content3:"문화재과(041-830-2629)", // 문의처
                detailContent:
                    `부여군 부여읍 관북리 725번지에 위치한 이 유적은 현재 왕궁지로 알려져 있으며, 국립부여문화재연구소 남쪽일대 184필지 95,048㎡(28,780평) 중 33필지 2,102㎡는 83년 9월 충청남도 기념물 제43호 전백제왕궁지(傳百濟王宮址)로 지정되어 있다.

                    82년부터 이 일대를 중심으로 충남대학교 박물관에서 5차에 걸쳐 발굴조사하여 83년도에는 방형석축연지(方形石築蓮池)가 발견되었고, 88년 발굴조사에서는 토기 구연부에 북사(北舍)라는 명문이 발견되었으며, 92년 조사에서는 현재 국립부여문화재연구소의 남쪽 50m 지점에서 백제시대의 도로유적과 배수시설이 드러났다.

                    삼국시대의 궁궐 중 고구려의 안학궁을 제외하면 아직까지 신라와 백제의 왕궁은 정확한 위치를 알 수 없지만, 백제시대 마지막 도읍이었던 사비도성의 일부 유적이 밝혀진 것은 매우 중요한 학술적 의미를 지닌다고 할 수 있다.`,
                contact:"충남종합관광안내소 뒷길로 좌측으로 200m가셔서 우측에 있습니다."
            }]
        },
        {
            list : [{
                image:"/img/subCont3/img5.jpg",
                title:"부여 정림사지",
                content1:"충남 부여군 부여읍 동남리 254", //소재지
                content2:"사적 제301호(지정일1983.03.26)", // 지정번호
                content3:"정림사지박물관 (041-832-2721)", // 문의처
                detailContent:
                    `정림사는 백제시대의 사찰임이 틀림없는 것 같다. 1980년의 발굴조사를 통하여 금당지(金堂址), 중문지(中門址), 강당지(講堂址), 회랑지(廻廊址)등이 확인되었고 또한 석탑 기초의 판축기법(版築技法), 다량의 와당과 격목와(格木瓦) 등이 발견되므로 해서 백제시대의 창건임이 분명하게 되었다.

                    백제가 부여로 도읍을 옮긴 시기(538-660)의 중심 사찰이 있던 자리다. 발굴조사 때 강당터에서 나온 기와조각 중ꡐ태평 8년 무진 정림사 대장당초(太平八年 戊辰 定林寺 大藏唐草)ꡑ라는 글이 발견되었다. 태평팔년은 요(遼)의 연호(年號)이며 고려 현종 19년(1028년)에 해당된다. 이 문자와의 발견수는 이곳에서 출토된 고려 기와중에 가장 수량이 많았으며 고려 재건시의 정림사를 대표할 수 있는 유물이다. 가람배치형식(伽藍配置形式)을 보면 전형적인 일탑식배치(一塔式配置)로 남으로부터 중문, 석탑, 금당, 강당의 순서로 일직선상(一直線上)에 세워졌으며 주위(周圍)를 회랑(廻廊)으로 구획(區劃)하였다. 그러나 특이하게 가람 중심부를 둘러싼 복도의 형태가 정사각형이 아닌, 북쪽의 간격이 넓은 사다리꼴 평면으로 되어있다.

                    발굴조사에서 드러난 절앞의 연못이 정비되어 있고, 석불좌상을 보호하기 위한 건물은 1933년에 지어졌다. 백제 때에 세워진 5층석탑(국보 제9호)과 고려시대에 만들어진 석불좌상(보물 제108호)이 남아 있다. 출토유물로는 백제와 고려시대의 장식기와를 비롯하여 백제 벼루, 토기와 흙으로 빚은 불상들이 있다.  `,
                contact:"충남종합관광안내소 주차장에서 우회전, 신호등에서 좌회전해 300m 직진해 좌회전하면 좌측에 있습니다."
            }]
        },
        {
            list : [{
                image:"/img/subCont3/img6.jpg",
                title:"부여 부소산성",
                content1:"충남 부여군 부여읍 쌍북리 산4외", //소재지
                content2:"사적 제5호(지정일1963.01.21)", // 지정번호
                content3:"문화재과(041-830-2629)", // 문의처
                detailContent:
                    `백마강 남쪽 부소산을 감싸고 쌓은 산성으로 사비시대의 도성(都城)이다.『삼국사기』「백제본기」에는 사비성, 소부리성으로 기록되어 있으나, 성이 위치한 산의 이름을 따서 부소산성이라 부른다.

                    웅진(지금의 공주)에서 사비(지금의 부여)로 수도를 옮기던 시기인 백제 성왕 16년(538)에 왕궁을 수호하기 위하여 쌓은 것으로 보인다. 그러나 동성왕 22년(500)경에 이미 산 정상을 둘러쌓은 테뫼식 산성이 있던 것을 무왕 6년(605)경에 지금의 모습으로 완성한 것으로 짐작되어 백제 성곽 발달사를 보여주는데 중요한 자료가 되고 있다.

                    금강의 남안에 있는 부소산의 산정을 중심으로 테뫼식 산성이 동서로 나뉘어 붙어 있고, 다시 그 주위에 북동쪽의 계곡을 둘러쌓은 포곡식(包谷式)산성을 동반한 복합식 산성으로, 성내에는 사자루, 영일루(迎日樓), 반월루(半月樓), 고란사(皐蘭寺), 낙화암(落花巖), 사방의 문지(門址), 군창지(軍倉址) 등이 있다. 『삼국사기(三國史記)』 백제본기(百濟本紀)에는 사비성, 소부리성(所扶里城)으로 기록되어 있으나, 산성이 위치한 산의 이름을 따서 부소산성으로 불리고 있다. 이 산성은 백제의 수도인 사비 도성의 일환이며, 왕궁을 수호하기 위하여 538년(성왕 16) 수도의 천도를 전후한 시기에 축조된 것으로 보이나, 이 보다 먼저 500년(동성왕 22)경 이미 산성이 축조되었을 가능성이 있다. 이후 천도할 시기를 전후하여 개축되었고, 605년(무왕 6)경에 대대적인 개수축이 이루어진 것으로 추정되고 있다. 한편 일부의 성벽은 통일 신라 시기에 수축되고, 고려와 조선 시대에는 고을의 규모에 맞도록 축소되어 이용된 것으로 여겨진다. 축성의 구체적 방법을 보면 성벽 안쪽의 흙을 파서 성내 벽쪽에 호(壕)를 만든 한편, 그 파낸 흙을 성벽의 축조에 판축의 재료로 이용하였다. 바깥 면에는 일정한 간격으로 기둥을 세우고, 성벽의 안쪽과 중간에도 기둥을 세워 분할 축조되었다. 기단에는 낮게 석축을 하거나, 기단 석렬을 마련하고, 안쪽으로 배수로 겸 통행이 가능한 좁은 부석(敷石)의 시설도 있다. 성벽에는 가로 세로로 목재를 넣은 것도 있다. 후대의 것은 무너진 흙을 내벽에 보축(補築)하기도 하였다. 성의 바깥 벽면은 기반토(基盤土)를 마치 판축(版築)하듯이 황색 사질토와 적색점질토를 겹겹이 다져 놓았다. 그 위에 돌을 3～5단으로 쌓고 흙을 덮었다. 이런 방식으로 축조된 산성의 입지는 경사면이어서 원래의 경사도보다도 더욱 가파른 경사를 이룰 수 있었던 것으로 보이며, 이렇게 해서 이루어진 이 산성의 아래 너비는 7m 가량이며 높이는 대략 4～5m에 달하였을 것으로 추정된다. 이 산성이 백제시대부터 조선 시대까지 수축, 개축을 거치며 사용된 것이긴 하나, 년차적인 조사에 의하여 성벽과 치성 및 특수한 시설과 내부의 여러 가지 양상이 차례로 밝혀져, 우리나라 고대 축성 기술의 박람회장과 같은 역할을 하고 있다. 한편, 부소산성에서 가장 높은 표고 106m의 사비루 부근의 산봉우리,를 중심하여 조사된 구간에서는 다양한 집터가 발견되기도 하였다. 성에는 동,서남문지가 있으며, 북쪽의 금강으로 향하는 낮은 곳에 북문(北門)과 수구(水口)가 있었을 것으로 보인다.`,
                contact:"충남종합관광안내소 뒤쪽, 주차장에서 도보로 20m 부소산 내에 있습니다."
            }]
        },
        {
            list : [{
                image:"/img/subCont3/img7.jpg",
                title:"부여 구드래 일원",
                content1:"충남 부여군 부여읍 백강로 135외", //소재지
                content2:"명승 제6호", // 지정번호
                content3:"문화재과(041-830-2629)", // 문의처
                detailContent:
                    `구드래는 부소산(扶蘇山) 서쪽 기슭의 백마강(白馬江)가에 있는 동리 이름으로서, 이 일대는 강과 어울려 빼어난 경승을 이루고 있다.

                    삼국유사(三國遺事)에 의하면 백제 임금이 왕흥사(王興寺)에 예불(禮佛)을 드리러 갈 적에 먼저 사자수(泗비水) 언덕의 바위에 올라 부처님을 향하여 절을 하면 그 바위가 스스로 따뜻해지므로 자온대(自溫臺)라고 불렀다는 기록이 있다. 구드래라는 동명은 이 자온대의 전설과 문헌 기록에서 비롯된 것으로 해석된다.

                    왕흥사는 법왕(法王) 2년(600)에 창건된 국찰(國刹)로서 당시의 절터는 이 구드래나루를 건너 울성산 남쪽 기슭에 자리하고 있다. 백마강은 옛 문헌에 사비강(泗비江)·사비하(泗비河)·사자강(泗비江)·백강(白江)·백촌강(白村江)으로 기록된 강으로 오늘의 금강의 한 부분이다. 부소산 건너 동편 천정대 앞 범바위에서 부여읍의 남쪽 현북리(縣北里) 파진산까지 약 16km 정도를 말한다. 부여의 옛 지명이 소부리(蘇扶里)·사비(泗비)로서, 백마강의 옛 이름들도 소부리의 강, 사비의 강, 서울의 강으로 풀이될 수 있다. 이 강은 부여 북·서·남쪽을 감돌아서 그 모양을 보아 반월성(半月城)이라고 부르기도 하였다. 백마강 양안에는 천정대를 비롯하여 왕흥사지(王興寺址), 호암사지(虎岩寺址), 청룡사지(靑龍寺址), 부소산성(扶蘇山城), 부여나성(扶餘羅城) 등 많은 당시의 유적이 분포하고 있다.
                    구두래는 부소산(扶蘇山) 서쪽 기슭의 백마강(白馬江)가에 있는 동리 이름으로서, 이 일대는 강과 어울려 빼어난 경승을 이루고 있다.

                    삼국유사(三國遺事)에 의하면 백제 임금이 왕흥사(王興寺)에 예불(禮佛)을 드리러 갈 적에 먼저 사자수(泗비水) 언덕의 바위에 올라 부처님을 향하여 절을 하면 그 바위가 스스로 따뜻해지므로 자온대(自溫臺)라고 불렀다는 기록이 있다. 구두래라는 동명은 이 자온대의 전설과 문헌 기록에서 비롯된 것으로 해석된다. `,
                contact:"충남종합관광안내소 주차장에서 우회전, 첫번째 신호등 직진 후 우측에 구드래국민관광지 안내판을 따라 500m 들어오시면 있습니다."
            }]
        },
        {
            list:[{
                image:"/img/subCont3/img8.jpg",
                title:"부여동헌",
                content1:"충남 부여군 부여읍 부소로 15 (관북리)", //소재지
                content2:"시도유형문화재 제96호(1982.08.03)", // 지정번호
                content3:"문화재과(041-830-2629)", // 문의처
                detailContent:
                    `조선시대 부여현의 관아 건물로 동헌·객사·내동헌 등이 남아있다. 동헌은 당시 부여현의 공사를 처리하던 곳으로, 고종 6년(1869)에 지었고 1985년에 크게 수리하였다.

                    동헌은 앞면 5칸·옆면 2칸의 규모이며, 지붕 옆면이 여덟 팔(八)자 모양인 화려한 팔작지붕집이다. 지붕 처마를 받치면서 장식도 하는 공포를 짜지 않은 민도리집으로, 앞면 5칸·옆면 2칸의 규모이다. 왼쪽 3칸은 대청으로 판벽을 치고 문을 달았으며, 오른쪽 2칸은 온돌방을 들이고 앞쪽에 툇마루를 놓았다. ‘초연당(超然堂)’이라는 현판이 결려 있으며 ‘제민헌’이라고도 한다.

                    동헌과 같은 해에 지은 객사는 왕명을 받들고 내려오는 관리를 접대하고 유숙시키던 곳으로, 정당과 익실을 두었다. 중앙에 한층 높게 세운 정당은 앞면 3칸·옆면 2칸의 규모이며 지붕 옆면이 사람 인(人)자 모양인 맞배지붕집이다. 그 좌우에 있는 동서익실은 앞면 3칸·옆면 2칸의 팔작지붕집이다. 정당의 대청에는 궐패를 모셨고, 익실에는 온돌방을 들였다. 박물관 진열실 등으로 사용하면서 내부가 변형되었으나 기본 구조는 남아있다. 정당 처마에는 봉황머리와 연꽃봉오리를 조각하였다. 부풍관이라고도 하며 지금은 ‘백제관(百濟館)’이라는 현판이 걸려 있다.

                    현감의 처소인 내동헌은 앞면 5칸·옆면 2칸의 팔작지붕집으로, 3칸의 대청과 그 양쪽에 1칸씩 온돌방을 들였다. 백제시대의 주춧돌과 기단석을 사용하여 건물을 지었으며, 정원에는 지금도 백제시대의 것으로 보이는 석재들이 많이 있다.  `,
                contact:
                `
                충남 부여군 부여읍 부소로 15 (관북리)  
                안내소 기준 버스, 승용차 이용시 10~15분이내`
            }]
        },
        {
            list:[{
                image:"/img/subCont3/img9.jpg",
                title:"부여향교",
                content1:"충남 부여군 부여읍 동남리 144", //소재지
                content2:"시도기념물 제125호(지정일1997.12.23)", // 지정번호
                content3:"문화재과(041-830-2629)", // 문의처
                detailContent:
                    `향교는 공자와 여러 성현께 제사를 지내고 지방민의 교육과 교화를 위해 나라에서 세운 교육기관이다.

                    부여향교는 언제 세웠는지 잘 알 수 없으나 조선 전기에 세운 것으로 보인다. 원래 부여읍 구교리의 서쪽 기슭에 세웠던 것을 18세기 중엽에 지금 있는 자리로 옮겼고, 여러 차례 보수를 거쳐 오늘에 이르고 있다.

                    건물의 전체적인 배치는 공부하는 공간인 명륜당이 앞쪽에 있고, 제사 공간인 대성전이 뒤쪽에 있어 전학후묘의 구조로 되어 있다.

                    명륜당은 앞면 5칸·옆면 2칸 규모로, 지붕은 옆면에서 볼 때 여덟 팔(八)자 모양인 팔작지붕 건물이다. 대성전은 앞면 3칸·옆면 3칸 규모로, 천장의 뼈대가 그대로 드러나 있는 연등천장으로 되어 있다. 안쪽에는 공자를 비롯한 중국의 성현들과 우리나라 선현들의 위패를 모시고 있다. 이외의 건물로 공부방인 수선재와 내삼문, 외삼문 등이 있다. 대성전 앞에는 다른 내삼문과는 달리 세 곳으로 나누고 협문을 두어 이를 대신하고 있다.

                    조선시대에는 국가로부터 토지·전적·노비 등을 지급받아 학생을 많이 가르쳤으나 갑오개혁 이후 교육 기능은 사라지고 지금은 봄·가을에 제사를 지내고 초하루와 보름에 분향을 하고 있다.`,
                contact:`
                    충남 부여군 부여읍 동남리 144
                    안내소 기준 버스, 승용차 이용시 5분이내. 도보시 10분이내`
            }]
        }
        ]
        console.log(listData[1]);
        
        data(detailNum)
        function data(detailNum){
            let createTag = "";
            for(let i=0; i<listData[detailNum].list.length; i++){
                console.log(listData[detailNum].list);
                createTag += `
                        <h1>${listData[detailNum].list[i].title}</h1>
                        <ul class="contentBox">
                            <li><span>소재지</span>${listData[detailNum].list[i].content1}</li>
                            <li><span>지정번호</span>${listData[detailNum].list[i].content2}</li>
                            <li><span>문의처</span>${listData[detailNum].list[i].content3}</li>
                        </ul>
                        <div class="detail_content">
                            <h1>상세정보</h1>
                            <div class="textbox">
                                <h4>
                                    ${listData[detailNum].list[i].detailContent}
                                </h4>
                                <p style="margin: 15px 0;">▶오시는길</p>
                                <p>${listData[detailNum].list[i].contact}</p>
                            </div>
                            <div class="botbox">
                                <div class="imgbox">
                                    <img src="${listData[detailNum].list[i].image}">
                                </div>
                            </div>
                        </div>
                `
            }
            list_wrap.innerHTML = createTag;
        }
    </script>
</body>
</html>