<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>행사일정 > 부여문화재야행</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Nanum+Myeongjo:wght@400;700;800&family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Song+Myung&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/set.css">
    <link rel="stylesheet" href="/css/subHeader.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/subCont1_2.css">
</head>
<body>
    <%- include("subHeader.ejs")%>
    <div id="container">
        <div class="center">
            <h1 class="title">행사 일정</h1>
            <div class="tbWrap">
                <p class="tb_title">1일차 09/16(금)</p>
                <table class="tb">
                    <tr class="top_tb">
                        <th>프로그램/일시</th>
                        <th>주무대 공연</th>
                        <th>버스킹존 A,B</th>
                        <th colspan="2">거리공연</th>
                        <th>투어 및 체험 프로그램</th>
                    </tr>
                    <tr>
                        <th>18:00 ~ 18:30</th>
                        <th colspan="4">방역 및 프로그램 준비</th>
                        <th rowspan="24" style="line-height: 25px;">
                            사비밤소풍
                            <br/>
                            19:00 ~ 21:00
                            <br/>
                            부여향교 선비체험
                            <br/>
                            * 1회차 *
                            <br/>
                            20:00 ~ 20:50
                            <br/>
                            * 2회차 *
                            <br/>
                            21:30 ~ 22:20
                        </th>
                    </tr>
                    <tr>
                        <th>18:30 ~ 18:40</th>
                        <th rowspan="6" style="background: #f0f0f0;">
                            주제공연
                            <br/>
                            -요요&백제가무희-
                        </th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>18:40 ~ 18:50</th>
                        <th rowspan="2" style="background: #f0f0f0;">사비로운 버스킹1팀-A</th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>18:00 ~ 19:00</th>
                        <th rowspan="2" style="background: #f0f0f0;">
                            백투더 사비
                        </th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>19:00 ~ 19:10</th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>19:10 ~ 19:20</th>
                        <th rowspan="2" style="background: #f0f0f0;">
                            사비의 악사1팀-B
                        </th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>19:20 ~ 19:30</th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>19:30 ~ 19:40</th>
                        <th></th>
                        <th></th>
                        <th rowspan="3" style="background: #f0f0f0;">백제예인 퍼포먼스</th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>19:40 ~ 19:50</th>
                        <th></th>
                        <th rowspan="2" style="background: #f0f0f0;">
                            사비로운 버스킹2팀-A
                        </th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>19:50 ~ 20:00</th>
                        <th rowspan="3" style="background: #f0f0f0;">
                            달빛 뮤지엄 콘서트
                            <br/>
                            -소울트레인-
                        </th>
                        <th rowspan="3" style="background: #f0f0f0;">
                            만담꾼1
                        </th>
                    </tr>
                    <tr>
                        <th>20:00 ~ 20:10</th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>20:10 ~ 20:20</th>
                        <th rowspan="2" style="background: #f0f0f0;">사비의 악사 2팀-B</th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>20:20 ~ 20:30</th>
                        <th></th>
                        <th rowspan="2" style="background: #f0f0f0;">백투더 사비</th>
                        <th rowspan="3" style="background: #f0f0f0;">만담꾼2</th>
                    </tr>
                    <tr>
                        <th>20:30 ~ 20:40</th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>20:40 ~ 20:50</th>
                        <th rowspan="2" style="background: #f0f0f0;">
                            사비로운 사비술사
                            <br/>
                            -버블쇼-
                        </th>
                        <th rowspan="2" style="background: #f0f0f0;">
                            사비로운 버스킹 3팀-A
                        </th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>20:50 ~ 21:00</th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>21:00 ~ 21:10</th>
                        <th></th>
                        <th></th>
                        <th rowspan="3" style="background: #f0f0f0;">
                            백제예인 퍼포먼스
                        </th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>21:10 ~ 21:20</th>
                        <th rowspan="2" style="background: #f0f0f0;">
                            사비로운 사비술사
                            <br/>
                            -마술-
                        </th>
                        <th rowspan="2"style="background: #f0f0f0;">사비의 악사 3팀-B</th>
                        <th rowspan="3"style="background: #f0f0f0;">만담꾼1</th>
                    </tr>
                    <tr>
                        <th>21:20 ~ 21:30</th>
                    </tr>
                    <tr>
                        <th>21:30 ~ 21:40</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>21:40 ~ 21:50</th>
                        <th rowspan="3" style="background: #f0f0f0;">
                            삼충신 스토리
                            <br/>
                            -성충-
                        </th>
                        <th rowspan="2" style="background: #f0f0f0;">
                            사비로운 버스킹4팀 -A
                        </th>
                        <th></th>
                        <th rowspan="3" style="background: #f0f0f0;">
                            만담꾼2
                        </th>
                    </tr>
                    <tr>
                        <th>21:50 ~ 22:00</th>
                    </tr>
                    <tr>
                        <th>22:00 ~ 22:10</th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>22:10 ~ 22:20</th>
                        <th></th>
                        <th rowspan="2" style="background: #f0f0f0;">
                            사비의 악사 4팀-B
                        </th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>22:20 ~ 22:30</th>
                        <th rowspan="3" style="background: #f0f0f0;">
                            소원을 들어주는 탑돌이
                        </th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>22:30 ~ 22:40</th>
                        <th colspan="4" rowspan="3" >
                            방역 및 프로그램 정리
                        </th>
                    </tr>
                    <tr>
                        <th>22:40 ~ 22:50</th>
                    </tr>
                    <tr>
                        <th>22:50 ~ 23:00</th>
                        <th></th>
                    </tr>
                </table>
            </div>
            <div class="tbWrap">
                <p class="tb_title">2일차 09/17(토) ~ 5일차 09/25(일)</p>
                <table class="tb">
                    <tr class="top_tb">
                        <th>프로그램/일시</th>
                        <th>주무대 공연</th>
                        <th>버스킹존 A,B</th>
                        <th colspan="2">거리공연</th>
                        <th>투어 및 체험 프로그램</th>
                    </tr>
                    <tr>
                        <th>18:00 ~ 18:30</th>
                        <th colspan="4">방역 및 프로그램 준비</th>
                        <th rowspan="24" style="line-height: 25px;">
                            사비밤소풍
                            <br/>
                            19:00 ~ 21:00
                            <br/>
                            부여향교 선비체험
                            <br/>
                            * 1회차 *
                            <br/>
                            20:00 ~ 20:50
                            <br/>
                            * 2회차 *
                            <br/>
                            21:30 ~ 22:20
                        </th>
                    </tr>
                    <tr>
                        <th>18:30 ~ 18:40</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>18:40 ~ 18:50</th>
                        <th></th>
                        <th rowspan="2" style="background: #f0f0f0;">사비로운 버스킹1팀-A</th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>18:50 ~ 19:00</th>
                        <th></th>
                        <th rowspan="2" style="background: #f0f0f0;">
                            백투더 사비
                        </th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>19:00 ~ 19:10</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>19:10 ~ 19:20</th>
                        <th></th>
                        <th rowspan="2" style="background: #f0f0f0;">
                            사비의 악사1팀-B
                        </th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>19:20 ~ 19:30</th>
                        <th rowspan="3"style="background: #f0f0f0;">
                            사비의 달빛 멜로디
                            <br/>
                            -엠씨리 밴드-
                        </th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>19:30 ~ 19:40</th>
                        <th></th>
                        <th rowspan="3"style="background: #f0f0f0;">백제예인 퍼포먼스</th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>19:40 ~ 19:50</th>
                        <th rowspan="2"style="background: #f0f0f0;">사비로운 버스킹 2팀-A</th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>19:50 ~ 20:00</th>
                        <th></th>
                        <th rowspan="3"style="background: #f0f0f0;">만담꾼1</th>
                    </tr>
                    <tr>
                        <th>20:00 ~ 20:10</th>
                        <th rowspan="5" style="background: #f0f0f0;">세도 두레 풍장 공연</th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>20:10 ~ 20:20</th>
                        <th rowspan="2"style="background: #f0f0f0;">사비의 악사2팀-B</th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>20:20 ~ 20:30</th>
                        <th rowspan="2" style="background: #f0f0f0;">백투더 사비</th>
                        <th rowspan="3" style="background: #f0f0f0;">만담꾼2</th>
                    </tr>
                    <tr>
                        <th>20:30 ~ 20:40</th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>20:40 ~ 20:50</th>
                        <th rowspan="2" style="background: #f0f0f0;">
                            사비로운 버스킹 3팀-A
                        </th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>20:50 ~ 21:00</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>21:00 ~ 21:10</th>
                        <th rowspan="2">
                            플래시몹
                            <br/>
                            -요요-
                        </th>
                        <th></th>
                        <th rowspan="3">백제예인 퍼포먼스</th>
                    </tr>
                    <tr>
                        <th>21:10 ~ 21:20</th>
                        <th rowspan="2">사비의 악사3팀-B</th>
                        <th rowspan="3">만담꾼1</th>
                    </tr>
                    <tr>
                        <th>21:20 ~ 21:30</th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>21:30 ~ 21:40</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>21:40 ~ 21:50</th>
                        <th rowspan="3" style="background: #f0f0f0;">
                            삼충신 스토리
                            <br/>
                            -성충-
                        </th>
                        <th rowspan="2" style="background: #f0f0f0;">
                            사비로운 버스킹4팀 -A
                        </th>
                        <th></th>
                        <th rowspan="3" style="background: #f0f0f0;">
                            만담꾼2
                        </th>
                    </tr>
                    <tr>
                        <th>21:50 ~ 22:00</th>
                    </tr>
                    <tr>
                        <th>22:00 ~ 22:10</th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>22:10 ~ 22:20</th>
                        <th></th>
                        <th rowspan="2" style="background: #f0f0f0;">
                            사비의 악사 4팀-B
                        </th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>22:20 ~ 22:30</th>
                        <th rowspan="3" style="background: #f0f0f0;">
                            소원을 들어주는 탑돌이
                        </th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>22:30 ~ 22:40</th>
                        <th colspan="4" rowspan="3" >
                            방역 및 프로그램 정리
                        </th>
                    </tr>
                    <tr>
                        <th>22:40 ~ 22:50</th>
                    </tr>
                    <tr>
                        <th>22:50 ~ 23:00</th>
                        <th></th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <%- include("footer.ejs")%>
    <script src="/js/header.js"></script>
</body>
</html>