    <div id="header">
        <div class="center">
            <div class="logobox">
                <a href="/">
                    <img src="/img/logo.png">
                </a>
            </div>
            <ul class="gnb">
                <li>
                    <a href="/sub1">부여문화재야행</a>
                    <ul class="gnb_depth2_1">
                        <li><a href="/sub1">행사개요</a></li>
                        <li><a href="/sub2">행사일정</a></li>
                        <li><a href="/sub3">행사지도</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/allprogram">프로그램</a>
                    <ul class="gnb_depth2_2">
                        <li><a href="/allprogram">전체 프로그램</a></li>
                        <li><a href="https://www.youtube.com/watch?v=w9WV1pzQPXM">온라인야행</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/sub3_1">연계 문화재(시설)</a>
                    <ul class="gnb_depth2_3">
                        <li><a href="/sub3_1">문화재</a></li>
                        <li><a href="/sub3_1_2">문화시설</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">커뮤니티</a>
                    <ul class="gnb_depth2_4">
                        <li><a href="#">공지사항</a></li>
                        <li><a href="#">보도자료</a></li>
                        <li><a href="#">자주하는질문(FAQ)</a></li>
                        <li><a href="#">묻고답하기(Q&A)</a></li>
                    </ul>
                </li>
            </ul>
            <div class="right_menu">
                <p>부여문화관광</p>
            </div>
        </div>
        <div class="center_img_box">
            <img class="moon" src="/img/moon.png">
            <img class="textimg" src="/img/section_txt.png">
        </div>
    </div>
