#header {
  display: flex;
  justify-content: center;
  position: relative;
}
#header .center {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 130px;
}
#header .center .logobox {
  position: relative;
  left: 40px;
  z-index: 98;
  display: flex;
  align-items: center;
}
#header .center .gnb {
  display: flex;
}
#header .center .gnb > li {
  margin: 0 20px;
  display: flex;
  align-items: center;
}
#header .center .gnb > li a {
  color: #fff;
  font-size: 13pt;
  position: relative;
}
#header .center .gnb > li:hover > a {
  color: #e15b7e;
}
#header .center .gnb > li:hover > a::after {
  background: url("/img/pink_ov_icon.png") no-repeat;
  content: "";
  display: block;
  position: absolute;
  width: 12px;
  height: 12px;
  z-index: 98;
  bottom: -35px;
  left: 50%;
  transform: translateX(-50%);
}
#header .center .gnb > li:hover .gnb_depth2_1,
#header .center .gnb > li:hover .gnb_depth2_2,
#header .center .gnb > li:hover .gnb_depth2_3,
#header .center .gnb > li:hover .gnb_depth2_4 {
  display: flex;
  z-index: 98;
}
#header .center .gnb > li .gnb_depth2_1,
#header .center .gnb > li .gnb_depth2_2,
#header .center .gnb > li .gnb_depth2_3,
#header .center .gnb > li .gnb_depth2_4 {
  background-color: #0b1921;
  position: absolute;
  top: 130px;
  width: 100%;
  height: 200px;
  align-items: center;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  justify-content: center;
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
}
#header .center .gnb > li .gnb_depth2_1 li,
#header .center .gnb > li .gnb_depth2_2 li,
#header .center .gnb > li .gnb_depth2_3 li,
#header .center .gnb > li .gnb_depth2_4 li {
  animation: imgon 0.5s;
  width: 130px;
  display: flex;
  justify-content: center;
  margin: 0 20px;
}
@keyframes imgon {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#header .center .gnb > li .gnb_depth2_1 li a,
#header .center .gnb > li .gnb_depth2_2 li a,
#header .center .gnb > li .gnb_depth2_3 li a,
#header .center .gnb > li .gnb_depth2_4 li a {
  color: #fff;
  font-size: 11pt;
}
#header .center .gnb > li .gnb_depth2_1 li a:hover,
#header .center .gnb > li .gnb_depth2_2 li a:hover,
#header .center .gnb > li .gnb_depth2_3 li a:hover,
#header .center .gnb > li .gnb_depth2_4 li a:hover {
  color: #e15b7e;
}
#header .center .gnb > li .gnb_depth2_1.on,
#header .center .gnb > li .gnb_depth2_2.on,
#header .center .gnb > li .gnb_depth2_3.on,
#header .center .gnb > li .gnb_depth2_4.on {
  display: flex;
  z-index: 98;
}
#header .center .right_menu {
  display: flex;
}
#header .center .right_menu p {
  margin-right: 10px;
  position: relative;
  right: 40px;
  top: 40px;
  border: 1px solid #fff;
  border-radius: 50px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 100px;
  transition: all 0.3s;
}
#header .center .right_menu p a {
  font-size: 11pt;
  color: #fff;
}
#header .center .right_menu p:hover {
  background-color: #e15b7e;
  border: 1px solid #e15b7e;
}
#header .center .right_menu p:hover a {
  color: #fff;
}
#header .center .users {
  color: #fff;
  position: relative;
  top: 40px;
  right: 30px;
}
#header .center .users a {
  margin-top: 20px;
  margin-right: 10px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 50px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 70px;
  transition: all 0.3s;
}
#header .center .users a:hover {
  background-color: #e15b7e;
  border: 1px solid #e15b7e;
}
#header .center .sub_gnb_on {
  display: none;
}
#header .center .sub_gnb_on a i {
  font-size: 30px;
  color: #fff;
  position: absolute;
  right: 35px;
  top: 50px;
}

@media screen and (max-width: 1024px) {
  #header {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    z-index: 97;
  }
  #header .center .right_menu {
    display: none;
  }
  #header .center .users {
    display: none;
  }
  #header .center .logobox {
    display: none;
  }
  #header .center .gnb {
    display: none;
  }
  #header .center .sub_gnb_on {
    display: block;
  }
  #header .center .sub_gnb_on a i {
    z-index: 99;
    font-size: 30px;
    color: #fff;
    position: absolute;
    right: 35px;
    top: 50px;
  }
}