#container {
  width: 100%;
}
#container .center {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: 100px;
}
#container .center .title {
  width: 100%;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  padding: 20px 0;
  margin: 50px 0;
}
#container .center .list {
  width: 1000px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#container .center .list .boxs a {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  width: 300px;
  height: 350px;
  overflow: hidden;
  margin: 10px;
  border: 1px solid rgb(207, 207, 207);
}
#container .center .list .boxs a .textbox h1 {
  color: #000;
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 20px;
}
#container .center .list .boxs a .textbox p {
  font-size: 15px;
  color: #686868;
}
#container .center .list .boxs .imgbox {
  transition: all 0.3s;
  width: 100%;
  height: 220px;
  overflow: hidden;
  border-bottom: 1px solid rgb(207, 207, 207);
}
#container .center .list .boxs .imgbox img {
  transition: all 0.3s;
  width: 100%;
  height: 100%;
}
#container .center .list .boxs:hover .imgbox img {
  transform: scale(1.1);
}